body{
    width: 99%;
    height: 99%;
}
.menu-principal{
    width:100%;
    background-color: #262323;
    height: 60px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    padding: -3px; /*aqui eu coloque este tamanho porque a logo é redonda e cobre todo espaço do do cabeçalho*/
}