body{
    width: 100%; /*are pra ser 100%*/
    height: 100%;
    margin: 0% auto;
}
.menu-principal{
    width:100%;
    background-color: #112b4d;
    height: 75px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;/*para ficar em cima a esquerda*/
    padding: 0px; /*aqui eu coloque o tamanho 0 porque a logo é redonda e cobre todo espaço do do cabeçalho*/
    width: 80%;/*tamanho */
}

.redes-sociais ul li{
    margin-left: 3px;/*espaço entre os icones*/
    display: inline-block; /*para apagar os pontos dos links*/
    list-style: none;
}
.redes-sociais{
    width: 20%;
    float: left;/*para posicionar a esquerda*/
}
.header-2{
    background-color: white;
    width: 100%;
    border: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;/*para apagar os pontos e colocar os nome do menu ao lado do outro*/
    margin-left: 20px;/*espaço entre os nomes do menu*/
    color: #8b8b8b;
}
.menu ul li a{
    color: #1c1047; 
    text-decoration: none;/*para apagar o sublinhado*/
    font-size: 20px;
    text-transform: uppercase;
}
.menu{
    /*width: 80px;  -  eu teria coloicado o width mais por algum motivo ele fez com que o menuficasse empilhado todo na esquerda, por isso tirei*/
    float: left;
}
.busca{
    width: 20px;
    float: right;
}